/.ipynb_checkpoints/*
*/Images/*
/Images/*
Downloads/*
*/Newspapers/*
/Newspapers/*
/Notices/*
*/Notices/*
*/Datasets/*
/Datasets/*
/source/__pycache__/*
/source/__pycache__/
*/logs/*
/logs/*
*/models/*
/models/*
/.ipynb_checkpoints/*
*/Images/*
/Images/*
*/Newspapers/*
/Newspapers/*
/Notices/*
*/Notices/*
*.env
.vscode/*
