*/Datasets/*
/Datasets/*
/source/__pycache__/*
/source/__pycache__/
*/logs/*
/logs/*
/.ipynb_checkpoints/*
*/Images/*
/Images/*
*/Newspapers/*
/Newspapers/*
/Notices/*
*/Notices/*
/source/models/datasets.npy
/Tender/*
*/Tender/*
/notTender/*
*/notTender/*