# notebook checkpoints
/.ipynb_checkpoints/*

# User defined driectories
Images/*
Downloads/*
Newspapers/*
Notices/*
Datasets/*
Screenshots/*
Tender/*
notTender/*

# bytecode cache files
*/__pycache__/*

# TF logs and models
logs/*
/models/*

# Environment Variables
*.env

# VScode settings
*/.vscode/*
.vscode/*

# chrome driver
driver/*
*/Datasets/*
/Datasets/*
/source/__pycache__/*
/source/__pycache__/
*/logs/*
/logs/*
/.ipynb_checkpoints/*
*/Images/*
/Images/*
*/Newspapers/*
/Newspapers/*
/Notices/*
*/Notices/*
/source/models/datasets.npy
